<style>
* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bckgggg.png);
    background-size: cover;
    background-position: center;
}

#image-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44%;
    height: 3%;
    min-height:602px;
    min-width:846px;
    background-image: url(img/ecran.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 30;
}

#gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
    height: 86%;
    min-height:450px;
    min-width:770px;
    min-height:514px;
    min-width:300px;
    background-image: url(img/ecrbckg.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 30;
    
}


#creatures {
     min-height:225px;
    min-width:330px;
    display: grid;
    grid-gap: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    flex-wrap: nowrap;
}


#frame1{
    left: 0vw;
    height: 100%;
    padding:0;
    min-height:526px;
    position: inherit;
    top: 3.9px;
    left: -4px;
}
#frame2{
    left: 9.49vw;
 height: 100%;
    width:100;
    min-height:526px;
    position: inherit;
    top: 0px;
    left: 180px;
}
#frame3{
    left: 16.8vw;
 height: 100%;
    width: 100%;
    min-height:526px;
    position: inherit;
    top: 2px;
    left: 317px;
        }
#frame4{
    left: 25.5vw;
 height: 100%;
    width: 100%;
    min-height:526px;
    position: inherit;
    top: 2.8px;
    left: 487px;
        }
